body{
    font-family: 'Poppins', sans-serif;
    margin: 1px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.maron-color{
    color: maroon;

}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding: 5%;


}
.half-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(orange,maroon);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    text-align: center;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.orange-color{
    color: orange;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;

}
.title-expo{
    text-align: center;
    color:tomato;

}

#full-stack-web-developer{
    border-left: 7px solid tomato;
    
}
#baby-web-developer{
    border-left: 7px solid blue;
}

footer p{
    background-color: rgb(43, 131, 226);
    text-align:center;
}