body{
    font-family: 'Poppins', sans-serif;
    margin: 1px;
}
h1{
    font-size: 50px;
}
.maron-color{
    color: maroon;

}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(orange,maroon);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    text-align: center;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}